@media screen and (max-width: 960px) {
  .header-animation .angled-header-two {
    transform: rotate(-14deg) translateY(-400px);
  }

  .alt-header h2 {
    font-size: 2.1rem;
  }

  .menu-rotate .angled-header-two {
    transform: rotate(0deg) translateY(-330px);
  }

  h1 { font-size: 5rem }
  .subtitle { font-size: 1.2rem }
  .email-notch { top: 128px }
}

@media screen and (max-width: 750px) {
  .header-animation .angled-header-two {
    transform: rotate(-14deg) translateY(-380px);
  }

  .alt-header h2 {
    font-size: 2rem;
  }

  .menu-rotate .angled-header-two {
    transform: rotate(0deg) translateY(-330px);
  }

  .contact {
    width: 85%
  }

  .skills-grid {
    width: 95%;
  }

  h1 { font-size: 4rem }
  .subtitle { font-size: 1rem }
}

@media screen and (max-width: 600px) {
  h1 { 
    font-size: 2rem;
    width: auto;
    margin: 0 auto;
  }
  .subtitle { 
    font-size: .4rem;
    width: 90%; 
  }

  .subtitle-hidden {
    @include header-text(.7rem, 10px, 20px, darken($accent, 3%));
    display: unset;
  }

  .subtitle {
    display: none;
  }

  .header-animation {
    h1,
    .subtitle-hidden,
    i {
      @include fade(0, .6s);
      cursor: default;
    }
  }

  .about {
    .headshot {
      border-radius: 50%;
      border: 8px solid $accent2;
      width: 300px;
    }

    h5 {
      font-size: 1rem;
      width: 85%;
      line-height: 25px;
    }
  }

  .alt-header h2 {
    font-size: 1.5rem;
    margin: 10px auto 0;
  }

  .header-animation .angled-header-two {
    transform: rotate(-14deg) translateY(-370px);
  }

  .menu-rotate .angled-header-two {
    transform: rotate(0deg) translateY(-330px);
  }

  .menu-item {
    font-size: .8rem;
  }

  .contact {
    height: 35vh;

    i {
      font-size: 4.5rem;
    }

    a {
      width: 73px;
    }

    .email-popup {
      top: 93px;
      opacity: 1;
    }

    .email-notch {
      top: 82px;
      opacity: 1;
    }
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .project {
      @include size(300px, 300px);

      h3 {
        font-size: 1.3rem;
      }

      i {
        font-size: 2.5rem;
        margin: 10px 30px;
      }

      .icons-container h4 {
        font-size: 1rem;
      }

      .tech {
        display: none;
      }
    }
  }
}
