$primaryColor: #0facb0;
$secondaryColor: #2884bd;
$darkGrey: #696969;
$lightGrey: #c9c9c9;
$accent: #c5652a;


@mixin angled-header($color, $opacity, $index) {
  width: 100%;
  height: 65vh;
  background: $color;
  opacity: $opacity;
  filter: blur(.5px);
  position: fixed;
  top: 0;
  z-index: $index;
  transition: 1.2s;
}

@mixin header-text($size, $spacing, $margintop, $color) {
  color: $color;
  font-size: $size;
  font-family: "Bangers", sans-serif;
  letter-spacing: $spacing;
  margin-top: $margintop;
  z-index: 10;
}

* {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background-image: url(../assets/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  height: 1000vh;
}

.angled-header-one {
  @include angled-header($primaryColor, .45, -1);
}

.angled-header-two {
  @include angled-header($secondaryColor, .3, 1);
}

header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  i {
    position: fixed;
    top: 59vh;
    font-size: 5rem;
    color: $accent;
    transition: .4s;
    cursor: pointer;
    z-index: 10;
    
    &:hover {
      color: lighten($accent, 10%);
      transition: .4s;
    }
  }
}

h1 {
  @include header-text(8.5rem, 7px, 0, $accent);
  transition: 1s;

  span {
    display: block;
    margin-left: 90px;
  }
}

.subtitle {
    @include header-text(1.6rem, 4px, 20px, darken($accent, 3%));
}

.alt-header {
  h2 {
    @include header-text(2.5rem, 3px, auto, $accent);
    position: fixed;
    top: 10px;
    left: 15px;
    opacity: 0;
    transition: 1s;
  }

  .hamburger {
    height: 42px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
  }

  .hamburger-bar {
    width: 100%;
    height: 10px;
    background: $accent;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  opacity: 0;
  transition: 1s;

  img {
    border-radius: 50%;
    border: 8px solid $accent;
  }

  h3 {
    @include header-text(3rem, 1px, 15px, $accent);
    font-family: 'Raleway';
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.6);
    background: rgba(222, 222, 222, 0.7);
    padding: 7px;
  }
}

.header-animation {
  .angled-header-one {
    width: 130%;
    transform: rotate(20deg) translateY(-480px);
    transition: 1.2s;
  }

  .angled-header-two {
    width: 130%;
    transform: rotate(-14deg) translateY(-425px);
    transition: 1.2s;
  }

  h2,
  .hamburger,
  & ~ .about {
    opacity: 1;
    transition: 1s;
  }

  h1,
  .subtitle,
  i {
    opacity: 0;
    transition: 1s;
  }
}

.menu-rotate {
  .angled-header-two {
    transform: rotate(0deg) translateY(-305px);
    opacity: .4;
  }

  .menu-item {
    opacity: 1;
    transition: 1.7s;
  }
}

.menu {
  position: fixed;
  top: 65px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.menu-items {
  display: flex;
  margin-left: 20px;
}

.menu-item {
  @include header-text(1.5rem, 4px, auto, darken($accent, 3%));
  margin: auto 10px;
  cursor: pointer;
  opacity: 0;
  transition: 1.2s;
}


